<h2 class="location-name">City Name here</h2>
<h3 class="latitude">Latitude: {{model.latitude}}</h3>
<h3 class="longitude">Longitude: {{model.longitude}}</h3>

<div class="map-wrap">
  {{model.currently}}
</div>
